<div class="footer-text">
  <div class="sign-up-container">
    <form class="signup-form">
      <input
        type="email"
        class="signup-form-input"
        placeholder="sign up with your email"
      />
      <button aria-label="signup-btn" type="submit" class="signup-form-btn">
        <span class="fas fa-arrow-right"></span>
      </button>
    </form>
  </div>
</div>
<div class="footer-contents">
  <a href="#" alt="privacy">privacy</a>
  <a href="#" alt="copyright">copyright</a>
  <a href="#" alt="tandc">terms and condition</a>
  <img src="img/wcag_2.1compliance_logo.png" alt="wacg aa logo" />
</div>
